# Папка с сгенерированными файлами компиляции
bin/

# Папка с исходными файлами IDE
.idea/

# Папка с сгенерированными файлами IDE
*.iml
*.iws
*.ipr

# Кэш и временные файлы IDE
out/
target/
.vscode/

# Папка с зависимостями Maven
# Если вы используете Maven, раскомментируйте следующую строку
# /target/

# Папка с зависимостями Gradle
# Если вы используете Gradle, раскомментируйте следующую строку
# /build/

# Логи и отчеты о покрытии кода
*.log
*.log.*
*.txt
*.html
*.xml
*.csv

# Системные файлы
.DS_Store
Thumbs.d